<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <form action="" method="get">
        {{forms}}
        <input type="submit" value="Submit">
    </form>
    <form action="" method="get">
        {{forms.as_table}}
        <input type="submit" value="Submit">
    </form>
    <form action="" method="get">
        {{forms.as_p}}
        <input type="submit" value="Submit">
    </form>
    <form action="" method="get">
        {{forms.as_ul}}
        <input type="submit" value="Submit">
    </form>
    <form action="" method="get">
        {{forms.name}}<br>
        {{forms.email}}
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>